<table border="1" style="width:700px; height:100px;">
	<tr>
		<%= building_pop_up("inherit", "inherit", 1, 1, 13)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 14)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 15)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 16)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 17)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 18)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 19)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 20)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 21)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 22)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 23)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 24)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 25)%>
		<%= building_pop_up("inherit", "inherit", 1, 1, 26)%>
	</tr>	
</table>