<table border="1" style="width:700px; height:140px;">
	<tr>
		<%= building_pop_up("10", "10", 1, 1, 3132) %>
		<%= building_pop_up("inherit", "inherit", 1, 1, 30) %>
		<%= building_pop_up("inherit", "inherit", 1, 1, 29) %>
		<%= building_pop_up("inherit", "inherit", 1, 1, 28) %>
		<%= building_pop_up("inherit", "inherit", 1, 1, 27) %>
		<%= building_pop_up("inherit", "inherit", 1, 1, 26) %>
		<%= building_pop_up("inherit", "inherit", 1, 1, 25) %>
		<%= building_pop_up("inherit", "inherit", 1, 1, 24) %>
		<%= building_pop_up("inherit", "10", 2, 1, 2342) %>
		<%= building_pop_up("inherit", "inherit", 2, 1, 22) %>
	</tr>
	<tr>
		<%= building_pop_up("10", "10", 1, 1, 3334) %>
		<%= building_pop_up("inherit", "inherit", 1, 1, 35) %>
		<%= building_pop_up("inherit", "inherit", 1, 1, 36) %>
		<%= building_pop_up("inherit", "inherit", 1, 1, 37) %>
		<%= building_pop_up("inherit", "inherit", 1, 1, 38) %>
		<%= building_pop_up("inherit", "inherit", 1, 1, 39) %>
		<%= building_pop_up("inherit", "inherit", 1, 1, 40) %>
		<%= building_pop_up("inherit", "inherit", 1, 1, 41) %>
	</tr>					
</table>