<table border="1" style="width:700px; height:140px;">
	<tr>
		<%= building_pop_up("inherit", "inherit", 1, 1, 31) %>
		<%= building_pop_up("inherit", "inherit", 2, 1, 30) %>
		<%= building_pop_up("inherit", "inherit", 2, 1, 29) %>
		<%= building_pop_up("inherit", "inherit", 2, 1, 28) %>
		<%= building_pop_up("inherit", "inherit", 2, 1, 27) %>
		<%= building_pop_up("inherit", "inherit", 2, 1, 26) %>
		<%= building_pop_up("inherit", "inherit", 2, 1, 25) %>
		<%= building_pop_up("inherit", "inherit", 2, 1, 24) %>
		<%= building_pop_up("inherit", "inherit", 4, 1, 2342) %>
		<%= building_pop_up("inherit", "inherit", 4, 1, 22) %>
	</tr>
	<tr>
		<%= building_pop_up("inherit", "inherit", 1, 1, 32) %>		
	</tr>
	<tr>
		<%= building_pop_up("inherit", "inherit", 1, 1, 33) %>
		<%= building_pop_up("inherit", "inherit", 2, 1, 35) %>
		<%= building_pop_up("inherit", "inherit", 2, 1, 36) %>
		<%= building_pop_up("inherit", "inherit", 2, 1, 37) %>
		<%= building_pop_up("inherit", "inherit", 2, 1, 38) %>
		<%= building_pop_up("inherit", "inherit", 2, 1, 39) %>
		<%= building_pop_up("inherit", "inherit", 2, 1, 40) %>
		<%= building_pop_up("inherit", "inherit", 2, 1, 41) %>
	</tr>	
	<tr>
		<%= building_pop_up("inherit", "inherit", 1, 1, 34) %>
	</tr>				
</table>