<table border="1" style="width:700px; height:140px;">
	<tr>
		<td class="<%= unit_color(31)%>"><%= link_to "31", :action => "view_unit", :unit_num => '31', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(30)%>"><%= link_to "30", :action => "view_unit", :unit_num => '30', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(29)%>"><%= link_to "29", :action => "view_unit", :unit_num => '29', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(28)%>"><%= link_to "28", :action => "view_unit", :unit_num => '28', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(27)%>"><%= link_to "27", :action => "view_unit", :unit_num => '27', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(26)%>"><%= link_to "26", :action => "view_unit", :unit_num => '26', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(25)%>"><%= link_to "25", :action => "view_unit", :unit_num => '25', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(24)%>"><%= link_to "24", :action => "view_unit", :unit_num => '24', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(23)%>"><%= link_to "23", :action => "view_unit", :unit_num => '23', :building_id => @building %></td>
		<td rowspan="4" class="<%= unit_color(22)%>"><%= link_to "22", :action => "view_unit", :unit_num => '22', :building_id => @building %></td>
	</tr>
	<tr>
		<td class="<%= unit_color(32)%>"><%= link_to "32", :action => "view_unit", :unit_num => '32', :building_id => @building %></td>
	</tr>
	<tr>
		<td class="<%= unit_color(33)%>"><%= link_to "33", :action => "view_unit", :unit_num => '33', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(35)%>"><%= link_to "35", :action => "view_unit", :unit_num => '35', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(36)%>"><%= link_to "36", :action => "view_unit", :unit_num => '36', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(37)%>"><%= link_to "37", :action => "view_unit", :unit_num => '37', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(38)%>"><%= link_to "38", :action => "view_unit", :unit_num => '38', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(39)%>"><%= link_to "39", :action => "view_unit", :unit_num => '39', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(40)%>"><%= link_to "40", :action => "view_unit", :unit_num => '40', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(41)%>"><%= link_to "41", :action => "view_unit", :unit_num => '41', :building_id => @building %></td>
		<td rowspan="2" class="<%= unit_color(42)%>"><%= link_to "42", :action => "view_unit", :unit_num => '42', :building_id => @building %></td>
	</tr>
	<tr>
		<td class="<%= unit_color(34)%>"><%= link_to "12", :action => "view_unit", :unit_num => '12', :building_id => @building %></td>
	</tr>				
</table>