<table border="1" style="width:700px; height:210px;">
	<tr>
 		<%= building_pop_up("inherit", 10, 2, 1, 1) %>
 		<%= building_pop_up("inherit", "inherit", 4, 1, 25) %>
 		<%= building_pop_up("inherit", "inherit", 4, 1, 24) %>
 		<%= building_pop_up("inherit", "inherit", 4, 1, 23) %>
 		<%= building_pop_up("inherit", "inherit", 4, 1, 22) %>
 		<%= building_pop_up("inherit", "inherit", 4, 1, 21) %>
 		<%= building_pop_up("inherit", "inherit", 4, 1, 20) %>
 		<%= building_pop_up("inherit", "inherit", 4, 1, 19) %>
 		<%= building_pop_up("inherit", "inherit", 4, 1, 18) %>
 		<%= building_pop_up("inherit", "inherit", 2, 1, 17) %>
	</tr>
	<tr>
	</tr>
	<tr>
		<%= building_pop_up("10", "inherit", 2, 1, 2) %>
 		<%= building_pop_up("inherit", "inherit", 1, 1, 15) %>
	</tr>
	<tr>
 		<%= building_pop_up("inherit", "inherit", 1, 1, 14) %>
	</tr>
	<tr>
 		<%= building_pop_up("inherit", "inherit", 2, 1, 3) %>
 		<%= building_pop_up("inherit", "inherit", 2, 1, 4) %>		
 		<%= building_pop_up("inherit", "inherit", 2, 1, 5) %>		
 		<%= building_pop_up("inherit", "inherit", 2, 1, 6) %>		
 		<%= building_pop_up("inherit", "inherit", 2, 1, 7) %>		
 		<%= building_pop_up("inherit", "inherit", 2, 1, 8) %>		
 		<%= building_pop_up("inherit", "inherit", 2, 1, 9) %>		
 		<%= building_pop_up("inherit", "inherit", 2, 1, 10) %>		
		<%= building_pop_up("inherit", "inherit", 2, 1, 11) %>		
 		<%= building_pop_up("inherit", "inherit", 1, 1, 13) %> 		
	</tr>
	<tr>
		<%= building_pop_up("inherit", "inherit", 1, 1, 12) %>		
	</tr>			
</table>		