<table border="1" style="width:700px; height:210px;">
	<tr>
 		<td rowspan="2"class="<%= unit_color(1) %>" style="width:10%;"><%= link_to "1", :action => 'view_unit', :unit_num => "1", :building_id => @building %></td>		
 		<td rowspan="4" class="<%= unit_color(25) %>"><%= link_to "25", :action => 'view_unit', :unit_num => "25", :building_id => @building %></td>
 		<td rowspan="4" class="<%= unit_color(24) %>"><%= link_to "24", :action => 'view_unit', :unit_num => "24", :building_id => @building %></td>
 		<td rowspan="4" class="<%= unit_color(23) %>"><%= link_to "23", :action => 'view_unit', :unit_num => "23", :building_id => @building %></td>
 		<td rowspan="4" class="<%= unit_color(22) %>"><%= link_to "22", :action => 'view_unit', :unit_num => "22", :building_id => @building %></td>
 		<td rowspan="4" class="<%= unit_color(21) %>"><%= link_to "21", :action => 'view_unit', :unit_num => "21", :building_id => @building %></td>
 		<td rowspan="4" class="<%= unit_color(20) %>"><%= link_to "20", :action => 'view_unit', :unit_num => "20", :building_id => @building %></td>
 		<td rowspan="4" class="<%= unit_color(19) %>"><%= link_to "19", :action => 'view_unit', :unit_num => "19", :building_id => @building %></td>
 		<td rowspan="4" class="<%= unit_color(18) %>"><%= link_to "18", :action => 'view_unit', :unit_num => "18", :building_id => @building %></td>
 		<td class="<%= unit_color(17) %>"><%= link_to "17", :action => 'view_unit', :unit_num => "17", :building_id => @building %></td>
	</tr>
	<tr>
 		<td class="<%= unit_color(16) %>"><%= link_to "16", :action => 'view_unit', :unit_num => "16", :building_id => @building %></td>
	</tr>
	<tr>
 		<td rowspan="2" class="<%= unit_color(2) %>"><%= link_to "2", :action => 'view_unit', :unit_num => "2", :building_id => @building %></td>
 		<td class="<%= unit_color(15) %>"><%= link_to "15", :action => 'view_unit', :unit_num => "15", :building_id => @building %></td>
	</tr>
	<tr>
 		<td class="<%= unit_color(14) %>"><%= link_to "14", :action => 'view_unit', :unit_num => "14", :building_id => @building %></td>
	</tr>
	<tr>
 		<td rowspan="2" class="<%= unit_color(3) %>"><%= link_to "3", :action => 'view_unit', :unit_num => "3", :building_id => @building %></td>
 		<td rowspan="2" class="<%= unit_color(4) %>"><%= link_to "3", :action => 'view_unit', :unit_num => "3", :building_id => @building %></td>
 		<td rowspan="2" class="<%= unit_color(5) %>"><%= link_to "3", :action => 'view_unit', :unit_num => "3", :building_id => @building %></td>
 		<td rowspan="2" class="<%= unit_color(6) %>"><%= link_to "3", :action => 'view_unit', :unit_num => "3", :building_id => @building %></td>
 		<td rowspan="2" class="<%= unit_color(7) %>"><%= link_to "3", :action => 'view_unit', :unit_num => "3", :building_id => @building %></td>
 		<td rowspan="2" class="<%= unit_color(8) %>"><%= link_to "3", :action => 'view_unit', :unit_num => "3", :building_id => @building %></td>
 		<td rowspan="2" class="<%= unit_color(9) %>"><%= link_to "3", :action => 'view_unit', :unit_num => "3", :building_id => @building %></td>
 		<td rowspan="2" class="<%= unit_color(10) %>"><%= link_to "3", :action => 'view_unit', :unit_num => "3", :building_id => @building %></td>
 		<td rowspan="2" class="<%= unit_color(11) %>"><%= link_to "3", :action => 'view_unit', :unit_num => "3", :building_id => @building %></td>
 		<td class="<%= unit_color(13) %>"><%= link_to "13", :action => 'view_unit', :unit_num => "13", :building_id => @building %></td>
	</tr>
	<tr>
		<td class="<%= unit_color(12) %>"><%= link_to "12", :action => 'view_unit', :unit_num => "12", :building_id => @building %></td>
	</tr>			
</table>		