
<% if @units.size == 0 %>
	<p>There are no units currently at this building. Click <%= link_to "here", :controller => "units" %> to add a unit.</p>
	<% else %>
	
	<% if @building.name == "Keep Safe #1"%>
		<%= render :partial => 'keep_safe1'%>
	<% end %>
	
	<% if @building.name == "Keep Safe #2"%>
		<%= render :partial => 'keep_safe2'%>
	<% end %>
	
	<% if @building.name == "West Side #1"%>
		<%= render :partial => 'west_side1'%>
	<% end %>
	
	<% if @building.name == "West Side #2"%>
		<%= render :partial => 'west_side2'%>
	<% end %>
	
	<% if @building.name == "West Side #3"%>
		<%= render :partial => 'west_side3'%>
	<% end %>
	
	<% if @building.name == "Building #1"%>
		<%= render :partial => 'ss_1'%>
	<% end %>
<% end %>