<div id="divide">
	<div>
		<%= link_to "Report", {:action => "customer_report"}, :popup => true %>
	</div>	
</div>

<div id="content">
	
	<% if flash[:notice].nil? %>
		<% else %>
	<div id="helper">
		<%= textilize(flash[:notice])%>
	</div>
	<% end %>
		
	<div id="shed_status">
		<h3>Buildings</h3>
		<% if @buildings.size == 0 %>
		<p> You have no buildings for your company. Click <%= link_to "here", :controller => "buildings" %> to add them.</p>
		<% else %>
			<select ONCHANGE="location = this.options[this.selectedIndex].value;">
					<option value="index">Select Building</option>
				<% for building in @buildings %>
					<option value="<%= url_for(:controller => 'index', :action => 'update_building', :building_id => building.id) %>"><%= building.name %></option>
				<% end %>
			</select>	
		<% end %>

		<div id="unit_status">
			<%= render :partial => 'daily_stats'%>
		</div>
		
		<div>


		</div>	
	</div>
</div>
