<p>
	<b>Status:</b> <%= @unit.status %><br />
	<b>Size:</b> <%= unit_dimensions(@unit.width, @unit.height) %><br />
	<% if @unit.name.nil? %>
		<% else %>
		<b>Name:</b> <%= @unit.name %>
	<% end%>
<p>

<% if @unit.name.nil? %>
	
	<p><b>Options:</b><br />
	<%= link_to "Rent", :action => "add_customer", :id => @unit %> |
	<%= link_to "Change Status", :action => "change_status", :id => @unit %></p>
	
<% else %>

	<p><%= link_to "View", :action => "view_unit", :unit_num => @unit.unit_num, :building_id => params[:building_id] %></p>	

<% end %>