<div id="content">
<div class="no_print">
	<div id="helper">
		<p>Print this notice to give to the customer to sign to verify that they are moving out. Then click 		<%= link_to "continue", { :action => "remove_customer", :id => @unit, :user_id => @user.id}, :confirm => "This will erase all customer information for this unit. Are you sure you want to remove them?" %> to finish removing them from the database.</p>
	</div>
</div>

	<h2 style="text-align:center;"><%= @company.name %><br />
	<span style="font-size:smaller;"><%= format_address(@company.address, @company.city, @company.state, @company.zip)%><br /><%= @company.phone %></span></h2>
<p style="font-size:14px;"><b>Date:</b> <%= format_date(Date.today) %></p>	

<br />

<table style="font-size:14px;">
	<tr>
		<td class="label"><b>Customer Name:</b></td>
		<td><%= @unit.name.capitalize %></td>
	</tr>

	<tr>
		<td class="label" style="vertical-align:top;"><b>Address:</b></td>
		<td> <%= format_address(@unit.address, @unit.city, @unit.state, @unit.zip)%></td>
	</tr>
	
	<tr>
		<td class="label"><b>Telephone #:</b></td>
 		<td><%= @unit.phone %></td>
	</tr>
</table>	
<br />
<br />

<p style="font-size:14px;">Unit #<b><%= @unit.unit_num %></b> has been vacated as of this date. The security deposit in the amount of $ _______________ has ben refunded to to the above customer. By signing below, all parties agree that all accounts are settled in regards to this unit.</p>
<br />
<br />

<hr />
<h3>Customer</h3>

<br />
<br />

<hr />
<h3><%= @company.name %></h3>		
	
</div>