<div id="divide">
	<div>
		<% if @unit.name.nil? %>
			<% else %>
		<%= link_to "Edit Customer", :action => "edit_customer", :id => @unit %>
		<%= link_to "Remove Customer", { :action => "vacate_notice", :id => @unit, :user_id => @user.id} %>
		<%= link_to "Contract", {:action => "contract", :id => @unit }, :target => "_contract"%>
		<% end %>
	</div>
</div>

<div id="content">
	<% if flash[:notice].nil? %>
	<% else %>	
		<div id="helper">
			<%=	textilize(flash[:notice]) %>
		</div>	
	<% end %>
	
	<div id="note_section">
		<%= render :partial => "notes" %>
	</div>
		
	<div id="info">
		<h3>Unit #<%= @unit.unit_num %></h3>
		
		<% if @unit.name.nil? %>
		<% else %>
			<%= render :partial => "customer_info" %>
		<% end %>	
	</div>	
</div>	