<div id="divide">

</div>

<div id="content">
	<% if flash[:notice].nil? %>
	<% else %>	
		<div id="helper">
			<%=	textilize(flash[:notice]) %>
		</div>	
	<% end %>
	
	<div id="note_section">
		<h4>Notes</h4>

		<% if @notes_count > 0 %>
		<div id="notes">
			<% for note in @notes %>
				<h5>
					<%= format_date(note.created_at) -%> (<%= show_name_for_id(note.user_id) -%>)
				</h5>
				<%= textilize(note.note) %>
			<% end %>
		</div>	
		<% else %>
			<p>There are no previous notes.</p>
		<% end %>
	
		
	</div>
		
	<div id="info">
		<%= render :partial => "previous_customer_info" %>
	</div>
	
	<div style="clear:both;">
		<% form_tag({:action => "add_previous_customer"}, :method => "post") do %>
			<%= hidden_field_tag :id, @previous_customer.id %>
			<%= hidden_field_tag :unit_id, @unit.id %>
			<%= hidden_field_tag :deposit, @deposit %>
			<%= hidden_field_tag :monthly_price, @monthly_price %>
			<%= submit_tag "Add Anyways", :class => "submit" %> |
			<%= link_to "Cancel", :action => "index" %>
		<% end %>	
	</div>		
</div>