<div id="divide">
	<div>
	<% if @unit.name.nil? %>
		<%= link_to "Change Unit Status", :action => "change_status", :id => @unit %>
	<% else %>	
		<%= link_to "Edit Customer", :action => "edit_customer", :id => @unit %>
		<%= link_to "Remove Customer", { :action => "remove_customer", :id => @unit, :user_id => @user.id}, :confirm => "This will erase all customer information for this unit. Are you sure you want to remove them?" %>
		<%= link_to "Contract", {:action => "contract", :id => @unit }, :target => "_contract"%>
	<% end %>
	</div>
</div>

<div id="content">
	<% if flash[:notice].nil? %>
	<% else %>	
		<div id="helper">
			<%=	textilize(flash[:notice]) %>
		</div>	
	<% end %>
	
	<% if @unit.name.nil? %>
	<% else %>
		<div id="note_section">
		<%= render :partial => "notes" %>
		</div>
	<% end %>
		
	<div id="info">
		<h3>Unit #<%= @unit.unit_num %></h3>
			
			<% if @unit.name.nil? %>
				<% if @unit.status != "Vacant" %>
					<p>Status: <span id="status"><%= @unit.status %></span></p>
				<% end %>
				<p>This unit is vacant. If you want to add a customer to this unit, click <%= link_to "here!", :action => "add_customer", :id => @unit.id %></p>
			<% else %>
				<%= render :partial => "customer_info" %>
			<% end %>
			
	</div>	
</div>	