<% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>

<div id="login_form">

<% form_for :user do |form| %>

		<%= error_messages_for "user" %>

		<p><label for="user_name">Name:</label><br />
		<%= form.text_field :name,
							:size => 		User::NAME_SIZE,
							:maxlength =>	User::NAME_MAX_LENGTH %></p>
	
		<p><label for="user_password">Password:</label><br />
		<%= form.password_field :password,
							:size => 		User::PASSWORD_SIZE,
							:maxlength =>	User::PASSWORD_MAX_LENGTH %></p>

		<p><%= submit_tag "Login", :class => "submit" %></p>
<% end %>
</div>
<div id="admin_links">
	<%= link_to "Manage Users", :action => "list_users" %>
</div>